<div class="container">
  <div class="row">
    <div class="col-4 ma-t-50">
      <%= render "users/user_info", user: @user %>
    </div>
    <div class="col-8 ma-t-30">
      <div class="title pa-20 center">
        <h１ class="font-30">お気に入り投稿一覧</h１>
      </div>
      <% if @likes.any? %>
        <% @likes.each do |like| %>     
          <div class="post-box pa-20 ma-y-20 box">
            <div class="post-box-title">
              <h4 class="center"><%= link_to like.post.title, post_path(like.post) %></h4>
            </div>
            <hr>
            <div class="post-box-alccategory dis-ib">
              <p>お酒：<%= like.post.alc_category.name %></p>
            </div>
            <div class="post-box-menucategory dis-ib ma-l-50">
              <p>ジャンル：<%= like.post.menu_category.name %></p>
            </div>
            <div class="post-box-info ma-t-10">
              <span>投稿者：<%= like.post.user.name %></span><br>
              <span>投稿日時：<%= like.post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="ma-t-30 center">お気に入り投稿はまだありません</p>
      <% end %>
    </div>
  </div>
</div>