<div class="col-lg-8 offset-2 ma-t-30">
  <div id="title" class="title pa-20">
    <h１ class="font-30">マイページ</h１>
  </div>
  <div class="user-box box">
    <div class="profile-image-box pa-20 center">
      <%= user_info_image(@user) %>
    </div>
    <div id="follow_info">
      <%= render "follows/follow_info", user: @user %>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td width="15%"></td>
          <th scope="row" width="35%">ニックネーム</th>
          <td width="50%"><%= @user.name %></td>
        </tr>
        <tr>
          <td></td>
          <th scope="row">好きなお酒</th>
          <td><%= favorite_alc_name(@user) %></td>
        </tr>
        <tr>
          <td></td>
          <th scope="row">自己紹介文</th>
          <td></td>
        </tr>
        <tr>
          <td style="border-top: 0;"></td>
          <td style="border-top: 0;" colspan="2"><div class="ma-r-30"><%= simple_format(@user.introduction) %></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-6 ma-t-20">
      <div class="box ma-t-30 scroll-box" style="height:200px">
        <div id="sub-title" class="title center">
          <h１ class="font-20">My Menu</h１>
        </div>
        <div class="center wid-70 ma-a ma-t-30">
          <%= link_to "スケジュール管理", schedules_path, class:"btn btn-outline-primary wid-100" %>
        </div>
        <div class="center wid-70 ma-a ma-t-30">
          <%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-outline-primary wid-100" %>
        </div>
        <div class="center wid-70 ma-a ma-t-20">
          <%= link_to "お気に入り投稿一覧", user_likes_path(@user), class:"btn btn-outline-primary wid-100" %>
        </div>
        <div class="center wid-70 ma-a ma-t-20">
          <%= link_to "フォロー一覧", follow_user_path(@user), class:"btn btn-outline-primary wid-100" %>
        </div>
        <div class="center wid-70 ma-a ma-t-20">
          <%= link_to "フォロワー一覧", follower_user_path(@user), class:"btn btn-outline-primary wid-100" %>
        </div>
        <div class="center wid-70 ma-a ma-t-30">
          <button type="button" class="btn btn-danger wid-100" data-toggle="modal" data-target="#UserDeleteModal">退会する</button>
        </div>
        <%= render "users/delete_modal" %>
      </div>
    </div>
    <div class="col-6 ma-t-20">
      <div class="box ma-t-30 scroll-box" style="height:200px">
        <div id="sub-title" class="title center">
          <h１ class="font-20">チャット</h１>
        </div>
        <ul class="list-group list-group-flush ma-t-20">
          <% if @user.rooms.any? %>
            <% @user.rooms.each do |room| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= link_to communication_user_name(room.users), user_rooms_path(communication_user(room.users)), method: :post, class:"center" %>
              </li>
            <% end %>
          <% else %>
            <p class="center">まだチャットしたことがありません</p>
          <% end %>
          <hr>
        </ul>
      </div>
    </div>
  </div>
  <div class="title pa-t-20 center">
    <h１ class="font-30">投稿一覧</h１>
  </div>
  <div class="user-posts">
    <% if @user.posts.any? %>
      <% @user.posts.reverse.first(2).each do |user_post| %>
        <%= render "posts/posts_index", post: user_post %>
      <% end %>
      <% if @user.posts.length > 2 %>
        <% @user.posts.reverse[2..-1].each do |user_post| %>
          <div class="collapse" id="collapsePostsIndex">
            <%= render "posts/posts_index", post: user_post %>
          </div>
        <% end %>
        <p class="center">
          <a data-toggle="collapse" href="#collapsePostsIndex" role="button" aria-expanded="false" aria-controls="collapseExample">
            もっと見る
          </a>
        </p>
      <% end %>
    <% else %>
      <p class="ma-t-30 center">投稿はありません</p>
    <% end %>
  </div>
</div>