<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="title ma-t-50">
        <h1 class="font-30">プロフィール編集</h1>
      </div>

      <%= form_for @user do |f| %>

        <div class="form-group">
          <%= f.label :name, "ニックネーム" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :alc_category, "好きなジャンル" %><br>
          <%= f.collection_select :alc_category_id, AlcCategory.all, :id, :name %>
        </div>

        <div class="form-group">
          <%= f.label :introduction, "自己紹介文" %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>

        <div class="form-group">
          <div class="profile_image_box pa-20">
            <%= user_info_image(@user) %>
          </div>
          <%= f.file_field :image %>
        </div>

        <div class="form-group right ma-t-20">
          <%= f.submit "編集", class: "btn-primary btn-lg" %>
        </div>

      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>