<div class="container-fluid back-sign">
  <div class="row">
    <div class="col-lg-4 sign-in-form pa-20">
      <div class="title center ma-b-50">
        <h1 class="font-50">L o g i n</h1>
      </div>
      <div class="form-box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "shared/form_error_message", resource: resource %>
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            <div class="invalid-feedback">
              メールアドレスを確認してください
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            <div class="invalid-feedback">
              パスワードを確認してください
            </div>
          </div>

          <div class="actions form-group right ma-t-30">
            <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
          <%= f.hidden_field :email, value:"test0000@mail.com" %>

          <%= f.hidden_field :password, value:"test0000" %>

          <div class="actions form-group right ma-t-30">
            <%= f.submit "テストログイン" %>
          </>
        <% end %>

        <%= render "devise/shared/links" %>
        <%= link_to "トップへ戻る", root_path %>
      </div>
    </div>
  </div>
