<div class="post-box pa-20 ma-y-20 box ribbon-wrapper">
  <div id="post-title" class="post-box-title ma-b-30">
    <h4 class="center"><%= link_to post.title, post_path(post) %></h4>
  </div>
  <div class="post-box-alccategory ribbon">
    <p><%= post.alc_category.name %></p>
  </div>
  <div class="post-box-menucategory dis-ib">
    <p>ジャンル：<%= post.menu_category.name %></p>
  </div>
  <div class="post-box-info ma-t-10">
    <span>投稿者：<%= post.user.name %></span><br>
    <span>投稿日時：<%= post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
  </div>
</div>