<div class="ma-y-20 pa-x-20 font-30">
  レビュー
</div>
<div class="right">
  <p id="review_form" class="pointer"><%= link_to "レビューを書く", new_post_review_path(@post.id) %></p>
</div>
<hr>
<% if reviews.any? %>
  <% reviews.first(2).each do |review| %>
    <div class="review-box ma-l-30 ma-r-30 ma-y-10">
      <div class="review-box-content" id="review">
        <h5>評価：<span id="index_star_<%= review.id %>"></span></h5>
        <p style="word-wrap: break-word"><%= review.content %></p>
      </div>
      <div class="review-box-info right">
        <span><%= link_to "@#{review.user.name}", user_path(review.user) %></span>     
        <span class="review-date pull-right">
          <%= review.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </span><br>
        <span>
          <% if review.user == current_user %>
            <%= link_to edit_post_review_path(review.post_id, review.id), class: "review_edit" do %>
              <i class="fas fa-edit" style="color: gray;"></i>
            <% end %>
            <%= link_to post_review_path(review.post_id, review.id), method: :delete, remote: true, class: "review_destroy ma-l-20" do %>
              <i class="fas fa-trash" style="color: gray;"></i>
            <% end %>
          <% end %>
        </span>
      </div>
    </div>
    <hr>
    <script>
      $("#index_star_<%= review.id %>").raty({
        size: 36,
        starOff: "<%= asset_path("star-off.png") %>",
        starOn: "<%= asset_path("star-on.png") %>",
        starHalf: "<%= asset_path("star-half.png") %>",
        readOnly: true,
        score: <%= review.rating %>,
        scoreName: "review[rating]",
        half: true,
      });
    </script>
  <% end %>
  <% if reviews.length > 2 %>
    <% reviews[2..-1].each do |review| %>
      <div class="collapse" id="collapseReviewIndex">
        <div class="review-box ma-l-30 ma-r-30 ma-y-10">
          <div class="review-box-content" id="review">
            <h5>評価：<span id="index_star_<%= review.id %>"></span></h5>
            <p style="word-wrap: break-word"><%= review.content %></p>
          </div>
          <div class="review-box-info right">
            <span><%= link_to "@#{review.user.name}", user_path(review.user) %></span>     
            <span class="review-date pull-right">
              <%= review.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            </span><br>
            <span>
              <% if review.user == current_user %>
                <%= link_to edit_post_review_path(review.post_id, review.id), class: "review_edit" do %>
                  <i class="fas fa-edit" style="color: gray;"></i>
                <% end %>
                <%= link_to post_review_path(review.post_id, review.id), method: :delete, remote: true, class: "review_destroy ma-l-20" do %>
                  <i class="fas fa-trash" style="color: gray;"></i>
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
        <hr>
        <script>
          $("#index_star_<%= review.id %>").raty({
            size: 36,
            starOff: "<%= asset_path("star-off.png") %>",
            starOn: "<%= asset_path("star-on.png") %>",
            starHalf: "<%= asset_path("star-half.png") %>",
            readOnly: true,
            score: <%= review.rating %>,
            scoreName: "review[rating]",
            half: true,
          });
        </script>
      </div>
    <% end %>
    <p class="right">
      <a data-toggle="collapse" href="#collapseReviewIndex" role="button" aria-expanded="false" aria-controls="collapseExample">
        もっと見る
      </a>
    </p>
  <% end %>
<% else %>
  <p>まだレビューがありません</p>
<% end %>